/*

---TYPOGRAPHY : 

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHT:
500
600
700
Default 400

LINE HEIGHT:
1.05, 1.6


default - 1

---- COLOR :

Brand color: #e67e22
Primary: 
Tints:
 #fdf2e9
 fae5d3

Shades: 
Greys: 
#333
#555
--- Shadows

--- Border radius
Default : 9px
--- whitespace

-----letter spacing
75px
1
1.05
1.2

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  /* 10px/16px = 0.625 = 62.5 */
}
/*------------------------------*/
.grid{
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.container{
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  /*Auto gives same margin in left and right*/

}
.grid--2-cols{
  grid-template-columns: repeat(2, 1fr);

}

.grid--3-cols{
  grid-template-columns: repeat(3, 1fr);

}

.grid--4-cols{
  grid-template-columns: repeat(4, 1fr);

}

.grid-center-v{
  align-items: center;
}



.btn:link,.btn:visited{
display: inline-block;
text-decoration: none;
font-size: 2rem;
padding: 1.6rem 3.2rem;
border-radius: 9px;
font-weight: 600;
/* transition used add animation : elemet time */
transition: background-color 0.3s ;
}

.btn--full:link,.btn--full:visited{
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,.btn--full:active{
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,.btn--outline:visited{
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,.btn--outline:active{
  background-color: #fdf2e9;
  /* TO ADD SHADOW INDISE WE USE BOX _SHADOW*/
  box-shadow: inset 0 0 2px #fff ;
}

.margin-right-sm{
  margin-right: 1.6rem !important;
}

body{
  font-family: "Rubik",sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.heading-primary,.heading-secondary{
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary{
  font-size: 5.2rem;
  line-height: 1.05;
  
  margin-bottom: 3.2rem;
}

.heading-secondary{
font-size: 4.4rem;
line-height: 1.2;
margin-bottom: 9.2rem;
}

.subheading{
display: block;
font-size: 1.6rem;
font-weight: 500;
color: #cf711f;
text-transform: uppercase;
margin-bottom: 1.6rem;
letter-spacing: 0.75px;

}

.heading-tertiary{
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  
}
.btn:link,.btn:visited{
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  /* transition used add animation : elemet time */
  transition: background-color 0.3s ;
  }
  
  .btn--full:link,.btn--full:visited{
    background-color: #e67e22;
    color: #fff;
  }
  .btn--full:hover,.btn--full:active{
    background-color: #cf711f;
    color: #fff;
  }
  
  .btn--outline:link,.btn--outline:visited{
    background-color: #fff;
    color: #555;
  }
  
  .btn--outline:hover,.btn--outline:active{
    background-color: #fdf2e9;
    /* TO ADD SHADOW INDISE WE USE BOX _SHADOW*/
    box-shadow: inset 0 0 2px #fff ;
  }
  
  .margin-right-sm{
    margin-right: 1.6rem !important;
  }
